


@media(min-width: 960px) {
    .feedBack {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .wrapper {
        width: 940px;
        height: 470px;
        margin: 0 auto;
        display: flex;
    }

    .main_img {
        width: 470px;
        height: 470px;
    }

    .form {
        width: 470px;
        height: 470px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 20px 0;
        position: relative;
    }

    .header {
        color: #31373e;
        font-size: 40px;
        line-height: 1.55;
        font-weight: 400;
    }

    .text_input {
        width: 300px;
        height: 50px;
        border: 1px solid #000;
        font-size: 16px;
        font-weight: 400;
        padding: 0 20px;
        margin-top: 20px;
    }

    .required:focus {
        border: 1px solid #000;
    }

    .required .error {
        border: 1px solid red;
    }

    .menu {
        width: 70px;
        height: 48px;
        background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 193px;
        right: 300px;
        display: flex;
        align-items: center;
        column-gap: 6px;
        cursor: pointer;
    }

    .flag {
        background: url("../img/flags5.png");
        background-position: -285px -281px;
        width: 18px;
        height: 18px;
        margin-top: 5px;
    }

    .arrow {
        border-style: solid;
        border-width: 5px 4px 0;
        border-color: #9a9a9a transparent transparent;
    }

    .telephone_code{
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: end;
        min-width: 10px;
        max-width: 60px;
    }
    
    .phone_input {
        width: 300px;
        height: 50px;
        border: 1px solid #000;
        font-size: 16px;
        font-weight: 400;
        padding-left: 100px;
        padding-right: 20px;
        margin-top: 20px;
    }
}